<!DOCTYPE>
<html lang="zh_CN" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Repo tagger</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body onload="init()">
<div id="app" v-cloak>
    <div class="menu">
        <div class="container menu-items">
            <div class="brand">Repo Tagger</div>
            <div class="search-input-wrapper">
                <input type="text" class="search-input" placeholder="search...">
            </div>
        </div>
    </div>

    <div class="container repo-list">
        <transition name="loading-slide">
            <div class="list-loading-tips" v-show="loading">loading...</div>
        </transition>
        <transition-group name="fade">
            <div class="repo-item" v-for="repo in list" v-bind:key="repo.id">
                <div class="tags" v-show="repo.tags.length > 0">
                    <span class="tag" v-for="tag in repo.tags">${ tag }</span>
                </div>
                <div class="name">
                    <a :href="repo.htmlUrl" target="_blank">${ repo.name } <span>(${ repo.fullName })</span></a>
                </div>
                <p class="description" v-if="repo.description">${ repo.description }</p>
                <p class="remark" v-if="repo.remark">${ repo.remark }</p>
                <div class="buttons">
                    <a class="button button--info" @click="toEdit(repo)">编辑</a>
                    <a class="button button--danger" @click="doDelete(repo.id)">删除</a>
                </div>
            </div>
        </transition-group>
    </div>

    <div class="mask" v-show="editForm.show"></div>
    <div class="edit-form-wrapper" v-show="editForm.show">
        <div class="container edit-form">
            <div class="form-title">编辑 ${ editForm.repo.name }</div>
            <div class="form-control">
                <div class="form-label">标签</div>
                <div class="form-item">
                    <div>
                        <input type="text" v-model="editForm.newTag" @keyup.enter="addTag">
                        <button class="add-tag-btn button" @click="addTag">添加</button>
                    </div>
                    <div style="margin-top: 10px;">
                        <span class="tag tag--big"
                              v-for="(tag, idx) in editForm.repo.tags">
                            ${ tag }
                            <a class="times" href="javascript:" @click="removeTag(idx)">&times;</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-control">
                <div class="form-label">备注</div>
                <div class="form-item">
                    <textarea v-model="editForm.repo.remark" rows="5">${ editForm.repo.remark }</textarea>
                </div>
            </div>
            <div class="form-control" style="text-align: right;">
                <button class="button button--big" @click="closeEditForm">取消</button>
                <button class="button button--big button--info" @click="doUpdate">更新</button>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/axios/0.16.0/axios.min.js"></script>
{% if app.debug %}
    <script src="//cdn.bootcss.com/vue/2.2.6/vue.js"></script>
{% else %}
    <script src="//cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
{% endif %}
<script>
    function init() {
        axios.defaults.headers.common['xsrftoken'] = '{{ csrf_token('my_xsrftoken') }}'

        new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                loading: false,
                list: [],
                editForm: {
                    show: false,
                    newTag: '',
                    repo: {
                        id: null,
                        name: null,
                        tags: null,
                        remark: null
                    }
                }
            },
            created: function () {
                this.listRepo()
            },
            methods: {
                listRepo: function () {
                    var self = this

                    self.loading = true

                    axios.get('{{ path('app_default_listrepo') }}')
                        .then(function (response) {
                            self.loading = false
                            self.list = response.data.list
                        })
                },
                addTag: function () {
                    if (this.editForm.newTag !== '') {
                        this.editForm.repo.tags.push(this.editForm.newTag)
                        this.editForm.newTag = ''
                    }
                },
                removeTag: function (idx) {
                    this.editForm.repo.tags.splice(idx, 1)
                },
                closeEditForm: function () {
                    this.editForm.show = false
                    this.editForm.newTag = ''
                    this.editForm.repo = {}
                },
                toEdit: function (repo) {
                    this.editForm.show = true
                    this.editForm.repo = JSON.parse(JSON.stringify(repo))
                },
                doUpdate: function () {
                    var self = this

                    axios.patch('{{ path('app_default_updaterepo') }}', this.editForm.repo)
                        .then(function (response) {
                            self.closeEditForm()
                            self.listRepo()
                        })
                },
                doDelete: function (id) {
                    var self = this

                    if (confirm('仓库删除后将不会在此列表显示，确定删除吗？')) {
                        axios.delete('{{ path('app_default_deleterepo') }}?id=' + id)
                            .then(function (response) {
                                self.listRepo()
                            })
                    }
                }
            }
        })
    }
</script>
</body>
</html>